@model IEnumerable<EmployeeDto>
@{
	ViewData["Title"] = "Employees";
	var obj = Model;
}
@if (TempData["success"] != null)
{
	<h2>
		@TempData["success"]
	</h2>
}
<div class="text-center">

	<table class="table table-bordered table striped" style="width:100%">
		<thead>
			<tr>
				<th>
					First Name
				</th>
				<th>
					Last Name
				</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null)
			{
				@foreach (var item in obj)
				{
					<tr>
						<td width="40%">
							@item.FirstName
						</td>
						<td width="40%">
							@item.LastName
						</td>
						<td>
						
								<a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
							
						</td>
					</tr>
				}
			}
			else
			{
				<h2>Model is null</h2>
			}
		</tbody>
	</table>
			<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
				Create Employee
			</a>

</div>
